<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 inline">
    <h1 class="info">Book-app.com</h1>
    <h3>Meet a place for readers of all kinds!</h3>
    <ul>
      <li class="info">Keep track of your books</li>
      <li class="info">Find out what your friends are reading</li>
      <li class="info">Discover new books picked just for you</li>
      <li class="info">Rate, comment and discuss your favourite literature</li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-1 inline">
    <%= form_for(:session, url: login_path) do |f| %>

      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email, class: 'form-control textfield' %>
      </p>
      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password_digest, class: 'form-control textfield' %>
      </p>

      <%= f.submit "Log in", class: "btn flat_button" %>
      <div class="info_text">
        <p>New here? <%= link_to "Sign Up!", new_reader_path, class: "link" %></p>
      </div>
    <% end %>
  </div>
</div>