<% if @reader==current_reader %>
  <% provide(:title, 'Edit profile') %>
<% else %>
  <% provide(:title, "Edit " + @reader.name) %>
<% end %>

<h1>Edit profile</h1>
<%= form_for :reader, url: reader_path(@reader), method: :patch do |f| %>

  <div class="col-md-4 col-md-offset-4">
    <%= render 'shared/error_messages' %>
    <p>
      <%= f.label :username %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :old_password %><br>
      <%= f.password_field :old_password, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :new_password %><br>
      <%= f.password_field :password_digest, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </p>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <p>
      <%= f.submit "Save", class: "btn flat_button" %>
    </p>
  <div class="center"><%= link_to 'Discard and go back', readers_path, class: "link" %></div>
  <% end %>
  </div>