<% if @reader==current_reader %>
  <% provide(:title, 'Your followings') %>
<% else %>
  <% provide(:title, @reader.name+"'s followings") %>
<% end %>

<p id="notice"><%= notice %></p>
  <div class="main">
    <h1>Followers and Followings</h1>
    <div class="row">
        <%= form_tag("/readers/#{@reader.id}/foll", :method => "get", id: "search-form") do %>
        <div class="col-md-8 inline">
        <%= text_field_tag :search, params[:search], placeholder: "Whom are you looking for?", class: 'form-control textfield' %>
      </div>
      <div class="col-md-4 inline">
        <%= submit_tag "Search", class: "btn flat_button" %>
              </div>
        <% end %>
    </div>

    <%= form_for (:reader) do |f| %>
      <div class="row">
          <div class="col-md-6 inline"> <%= f.submit :'Followers', class: "btn flat_button books" %> </div>
          <div class="col-md-6 inline"> <%= f.submit :'Followings', class: "btn flat_button books" %> </div>
      </div>
    <% end %>

    <% if !@found %>
      <p>There are no readers containing the term(s) <%= params[:search] %>. 
      </p>
    <% end %>
    <% if !@fount %>
      <p id="nofount">There are no readers with chosen status.</p>
    <% end %> 

    <p></p>

    <div class="table_headings">
      <div class="row">
        <div class="col-md-6 inline">Name</div>
        <div class="col-md-2 inline">Books read</div>
      </div>
    </div>
    <div class="table_items">
      <% @readers.each do |reader| %>
      <div class="row">
        <div class="col-md-6 inline"><%= link_to reader.name, reader, class: "link" %></div>
        <div class="col-md-2 inline"><%= reader.book_count %></div>
      </div>
      <% end %>
    </div>
  </div>

