<% provide(:title, 'Readers') %>

<p id="notice"><%= notice %></p>
  <div class="main">
<h1>Readers</h1>
<div class="row">
    <%= form_tag(readers_path, :method => "get", id: "search-form") do %>
    <div class="col-md-8 inline">
      <%= text_field_tag :search, params[:search], placeholder: "Whom are you looking for?", class: 'form-control textfield' %>
  </div>
    <div class="col-md-4 inline">
      <%= submit_tag "Search", class: "btn flat_button" %>
        </div>
    <% end %>
  <% if !@found %>
    <div id="notfoundmessage"><p>There are no readers containing the term(s) <%= params[:search] %>. Here is the list of all readers</p></div>
  <% end %>

<div class="table_headings">
  <div class="col-md-5 inline">Name</div>
  <div class="col-md-3 inline">Books read</div>
  <div class="col-md-3 inline">Common books</div>
</div>
<div class="table_items">
  <% @readers.each do |reader| %>
  <div class="col-md-5 inline"><%= link_to reader.name, reader, class: "link" %></div>
  <div class="col-md-3 inline"><%= reader.book_count %></div>
  <div class="col-md-3 inline"><%= reader.comCount(current_reader) %></div>

    <% if current_reader.name == "admin" %>
      <div class="col-md-1 inline">
        <div class="inline">
          <%= link_to edit_reader_path(reader) do %>
            <span class="glyphicon glyphicon-pencil right"></span>
          <% end %>
        </div>
        <div class="inline">
        <%= link_to reader_path(reader),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash right"></span>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
<br>
</div>
</div>
<br>
