<% provide(:title, "Sign up") %>
<div class="col-md-8 col-md-offset-2">
<h1>Sign up</h1>

<div class="row">
    <%= form_for(:reader, url: readers_path) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <p>
        <strong>Username</strong><br>
        <%= f.text_field :name, class: 'form-control textfield' %>
      </p>

      <p>
        <strong>Email</strong><br>
        <%= f.email_field :email, class: 'form-control textfield' %>
      </p>

      <p>
        <strong>Password</strong><br>
        <%= f.password_field :password, class: 'form-control textfield' %>
      </p>

      <p>
        <strong>Password confirmation</strong><br>
        <%= f.password_field :password_confirmation, class: 'form-control textfield' %>
      </p>
      <%= f.submit "Signing Up", class: "btn flat_button" %>
    <% end %>
  <br>
  </div>
</div>

