<% provide(:title, @reader.name) %>
  <div class="main">
    <div class="center">
      <h1 class="profile_style"><%= @reader.name %></h1>
      <h2 class="profile_style">'s profile</h2>
    </div>
    <br>
    <p>
      <strong>Email:</strong>
      <%= @reader.email %>
      <% if @reader==current_reader or current_reader.name=="admin" %>
        <%= link_to edit_reader_path(@reader) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      <% end %>
    </p>
    <p>
      <% if @reader==current_reader %>
        <%= link_to "My books", { controller: 'books', action: 'mybooks' }, class: "link" %>
      <% else %>
        <%= link_to "Books", { controller: 'books', action: 'mybooks' }, class: "link" %>
      <% end %>
    </p>

    <p>
      <%= link_to "Followers/followings", { controller: 'readers', action: 'foll' }, class: "link" %>
    </p>
    <p>
      <%= link_to "Recommendations", { controller: 'books', action: 'recom' }, class: "link" %>
    </p>

    <% unless current_reader == @reader %>
      <div class="row">
        <% unless current_reader.following?(@reader) %>
            <div class="col-md-8 left"><p><i>Have simular preferences?</i> Follow this reader!</p></div>
            <%= form_for @reader.active_relationships.build do |f| %>
              <%= f.hidden_field :reader_id, value: @reader.id %>
              <div class="col-md-4"><i><%= f.submit :'Follow', class: "btn flat_button recommend" %></i></div>
            <% end %>
        <% else %>
          <div class="col-md-8 left"><p><i>Different preferences?</i> Unfollow this reader!</p></div>


            <%= form_for current_reader.active_relationships.find_by!(followed: @reader) do |f| %>
              <%= f.hidden_field :reader_id, value: @reader.id %>
              <div class="col-md-4"><i><%= f.submit :'Unfollow', class: "btn flat_button recommend" %></i></div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

