<% provide(:title, "Edit" + @author.name) %>

<h1>Editing <%= @author.name %>'s info </h1>
 
<div class="row">
    <%= form_for :author, url: author_path(@author), method: :patch do |f| %>
      <% if @author.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@author.errors.count, "error") %> prohibited
            this author from being saved:
          </h2>
          <ul>
            <% @author.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "textfield" %>
      </p>
      <p>
        <%= f.label :country %><br>
        <%= f.text_field :country, class: "textfield" %>
      </p>
      <p>
        <%= f.label :website %><br>
        <%= f.text_field :website, class: "textfield"%>
      </p> 
      <p>
        <%= f.label :biography %><br>
        <%= f.text_area :bio, :rows => 10, class: "form-control textfield" %>
      </p>
      <p>
        <%= f.submit 'Save', class: "btn flat_button" %>
      </p>     
  <div class="center"><%= link_to 'Discard and go back', authors_path, class: "link" %></div>
  <% end %>
  </div>
