<% provide(:title, 'Authors') %>

<p id="notice"><%= notice %></p>
  <div class="main">
  <h1>Authors</h1>
  <div class="row">
      <%= form_tag(authors_path, :method => "get", id: "search-form") do %>
      <div class="col-md-8 inline">
        <%= text_field_tag :search, params[:search], placeholder: "Whom are you looking for?", class: 'form-control textfield' %>
      </div>
      <div class="col-md-4 inline">
        <%= submit_tag "Search", class: "btn flat_button" %>
      </div>
      <% end %>
  </div>
    <% if !@found %>
    <div id="notfoundmessage"><p>There are no authors containing the term(s) <%= params[:search] %>. Here is the list of all authors</p></div>
    <% end %>
    <div class="table_headings">
      <div class="row">
        <div class="col-md-3 inline">Name</div>
        <div class="col-md-2 inline">Rating</div>
        <div class="col-md-2 inline">Country</div>
        <div class="col-md-4 inline">Website</div>
      </div>
    </div>
  <div class="table_items">
  <% @authors.each do |author| %>
    <div class="row">
      <div class="col-md-3 inline"><%= link_to author.name, author, class: "link" %></div>
      <div class="col-md-2 inline"><%= author.rating_average.round(2) %></div>
      <div class="col-md-2 inline"><%= author.country %></div>
      <% if logged_in? %>
        <% if current_reader.name == "admin" %>
          <div class="col-md-4 inline"><%= link_to author.website, author.website, class: "link" %></div>
          <div class="col-md-1 inline">
            <div class="inline">
              <%= link_to edit_author_path(author) do %>
                <span class="glyphicon glyphicon-pencil right"></span>
              <% end %>
            </div>
            <div class="inline">
              <%= link_to author_path(author),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash right"></span>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="col-md-4 inline"><%= link_to author.website, author.website, class: "link" %></div>
        <% end %>
      <% else %>
        <div class="col-md-4 inline"><%= link_to author.website, author.website, class: "link" %></div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

