<% provide(:title, "New Author") %>

<h1>New Author</h1>
  <%= form_for :author, url: authors_path do |f| %>
    <p class:>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control textfield" %>
    </p>
   
    <p>
      <%= f.label :biography %><br>
      <%= f.text_area :bio, :rows => 10, class: "form-control textfield" %>
    </p>

    <p>
      <%= f.label :country %><br>
      <%= f.text_field :country, class: "form-control textfield" %>
    </p>

    <p>
      <%= f.label :website %><br>
      <%= f.text_field :website, class: "form-control textfield" %>
    </p>
   
    <p>
      <%= f.submit :'Add author', class: "btn flat_button" %>
    </p>
  <% end %>
