<% provide(:title, @author.name) %>
  <div class="main">
    <h1><%= @author.name %>
      <% if logged_in? %>
      <% if current_reader.name=="admin" %>
        <div class="inline">
          <p>
          <%= link_to edit_author_path(@author) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </p>
        </div>
        <% end %>
      <% end %>
    </h1>
    <h3 class="info">Bio:</h3>
    <p class="bio"><%= @author.bio %></p>
    <p>
      <h3 class="inline info">Country:</h3>
      <h3 class="inline"><%= @author.country %></h3>
    </p>
    <div class="inline">
      <h3 class="info">Website:
      <%= link_to @author.website, @author.website, class: "link" %></h3>
    </div>
    <h1>Books of author</h1>
    <div class="row">
        <%= form_tag("/authors/#{@author.id}", :method => "get", id: "search-form") do %>
        <div class="col-md-8 inline">
        <%= text_field_tag :search, params[:search], placeholder: "What are you looking for?", class: 'form-control textfield' %>
      </div>
      <div class="col-md-4 inline">
        <%= submit_tag "Search", class: "btn flat_button" %>
        </div>
        <% end %>
    </div>
    
    <% if !@found %>
      <p id="notfoundmessage">There are no books containing the term(s) <%= params[:search] %>. Here is the list of all author's books</p>
    <% end %>

    <div class="table_headings">
      <div class="row">
        <div class="col-md-4 inline">Name</div>
        <div class="col-md-1 inline">Year</div>
        <div class="col-md-2 inline">ISBN</div>
        <div class="col-md-2 inline">Genre</div>
        <div class="col-md-2 inline center">Rating</div>
      </div>
    </div>
    <div class="table_items">
      <% @books.each do |book| %>
        <div class="row">
          <div class="col-md-4 inline"><%= link_to book.name, book, class: "link" %></div>
          <div class="col-md-1 inline"><%= book.year %></div>
          <div class="col-md-2 inline"><%= book.ISBN %></div>
          <div class="col-md-2 inline"><%= book.genre %></div>
          <div class="col-md-2 inline center"><%= book.rating_average.round(2) %></div>
        </div>
      <% end %>
    </div>
  </div>
      <br>


