<% if @reader.errors.any? %>
  <div id="error_explanation">
    <!--div class="alert alert-danger">
      The form contains <%= pluralize(@reader.errors.count, "error") %>.
    </div-->
      <div class="error">
    <% @reader.errors.full_messages.each do |msg| %>
      <%= msg %>
      <br>
    <% end %>
    </div>
  </div>
<% end %>