<% provide(:title, "Edit" + @book.name) %>

<h1>Editing "<%= @book.name %>" info</h1>
<div class="row">
<%= form_for :book, url: book_path(@book), method: :patch do |f| %>
 
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "textfield"  %>
  </p>
  <p>
      <%= f.label :authors %><br>
      <%= f.text_field :authors, class: "form-control textfield" %>
    </p>
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year, class: "textfield"  %>
  </p>
  <p>
    <%= f.label :ISBN %><br>
    <%= f.text_field :ISBN, class: "textfield"  %>
  </p>
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre, class: "textfield"  %>
  </p>
  <p>
    <%= f.submit 'Save', class: "btn flat_button" %>
  </p>
<div class="center"><%= link_to 'Discard and go back', books_path, class: "link" %></div>
<% end %>
</div>
