<% provide(:title, 'Books') %>
  <p id="notice"><%= notice %></p>

  <div class="main">

  <h1>In need of a book?</h1>
  <div class="row">
  
      <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <div class="col-md-8 inline">
        <%= text_field_tag :search, params[:search], placeholder: "What are you looking for?", class: 'form-control textfield' %>
      </div>
      <div class="col-md-4 inline">
        <%= submit_tag "Search", class: "btn flat_button" %>
      </div>
      <% end %>
  </div>
  <% if !@found %>
    <div id="notfoundmessage"><p>There are no books containing the term(s) <%= params[:search] %>. Here is the list of all books</p></div>
  <% end %>

  <div class="table_headings">
  <% if logged_in? %>
    <% if current_reader.name == "admin" %>
      <div class="row">
        <div class="col-md-4 inline">Name</div>
        <div class="col-md-1 inline">Year</div>
        <div class="col-md-2 inline">ISBN</div>
        <div class="col-md-3 inline">Genre</div>
        <div class="col-md-1 inline">Rating</div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-4 inline">Name</div>
        <div class="col-md-1 inline">Year</div>
        <div class="col-md-2 inline">ISBN</div>
        <div class="col-md-3 inline">Genre</div>
        <div class="col-md-1 inline">Rating</div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-md-4 inline">Name</div>
      <div class="col-md-1 inline">Year</div>
      <div class="col-md-2 inline">ISBN</div>
      <div class="col-md-3 inline">Genre</div>
      <div class="col-md-1 inline">Rating</div>
    </div>
  <% end %>   
  </div>
    <div class="table_items">
    <% @books.each do |book| %>
    <% if logged_in? %>
      <% if current_reader.name == "admin" %>
      <div class="row">
        <div class="col-md-4 inline"><%= link_to book.name, book, class: "link" %></div>
        <div class="col-md-1 inline"><%= book.year %></div>
        <div class="col-md-2 inline"><%= book.ISBN %></div>
        <div class="col-md-3 inline"><%= book.genre %></div>
        <div class="col-md-1 inline"><%= book.rating_average.round(2) %></div>
        <div class="col-md-1 inline">
          <div class="inline">
            <%= link_to edit_book_path(book) do %>
            <span class="glyphicon glyphicon-pencil right"></span>
            <% end %> 
          </div> 
          <div class="inline">
            <%= link_to book_path(book),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash right"></span>
            <% end %>  
          </div>    
        </div> 
      </div> 
      <% else %>
      <div class="row">
        <div class="col-md-4 inline"><%= link_to book.name, book, class: "link" %></div>
        <div class="col-md-1 inline"><%= book.year %></div>
        <div class="col-md-2 inline"><%= book.ISBN %></div>
        <div class="col-md-3 inline"><%= book.genre %></div>
        <div class="col-md-1 inline center"><%= book.rating_average.round(2) %></div>
      </div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-md-4 inline"><%= link_to book.name, book, class: "link" %></div>
        <div class="col-md-1 inline"><%= book.year %></div>
        <div class="col-md-2 inline"><%= book.ISBN %></div>
        <div class="col-md-3 inline"><%= book.genre %></div>
        <div class="col-md-1 inline center"><%= book.rating_average.round(2) %></div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
  <br>
























