  <div class="main">
<% if @reader==current_reader %>
  <% provide(:title, 'Your books') %>
<% else %>
  <% provide(:title, @reader.name+"'s books") %>
<% end %>

<p id="notice"><%= notice %></p>

<% if @reader==current_reader %>
  <h1>Your books</h1>
<% else %>
  <h1><%= @reader.name %>'s books</h1>
<% end %>
  <div class="row">
      <%= form_tag("/readers/#{@reader.id}/mybooks", :method => "get", id: "search-form") do %>
      <div class="col-md-8 inline">
      <%= text_field_tag :search, params[:search], placeholder: "What are you looking for?", class: 'form-control textfield' %>
    </div>
    <div class="col-md-4 inline">
      <%= submit_tag "Search", class: "btn flat_button" %>
          </div>
      <% end %>
  </div>

  <%= form_for (:book) do |f| %>
    <div class="row">
      <div class="col-md-4 inline"> <%= f.submit :'Want to read', class: "btn flat_button books" %> </div>
      <div class="col-md-4 inline"> <%= f.submit :'Reading', class: "btn flat_button books" %> </div>
      <div class="col-md-4 inline"> <%= f.submit :'Read', class: "btn flat_button books" %> </div>
    </div>
  <% end %>

  <% if !@found %>
    <p>There are no books containing the term(s) <%= params[:search] %>. Here is the list of all  your books</p>
  <% end %>
  <% if !@fount %>
    <p>There are no books with chosen status. Here is the list of all your books</p>
  <% end %> 
  <p></p>
  <div class="table_headings">
    <div clas="row">
      <div class="col-md-5 inline">Name</div>
      <div class="col-md-1 inline">Year</div>
      <div class="col-md-2 inline">ISBN</div>
      <div class="col-md-3 inline">Genre</div>
      <div class="col-md-1 inline center">Rating</div>
    </div>
  </div>
    <div class="table_items">
      <% @books.each do |book| %>
      <div class="row">
        <div class="col-md-5 inline"><%= link_to book.name, book, class: "link" %></div>
        <div class="col-md-1 inline"><%= book.year %></div>
        <div class="col-md-2 inline"><%= book.ISBN %></div>
        <div class="col-md-3 inline"><%= book.genre %></div>
        <div class="col-md-1 inline"><%= book.rating_average.round(2) %></div>
      </div>
      <% end %>
    </div>
      <br>
  </div>
  <br>

