<% provide(:title, "New book") %>
<div class="main">
<h1>New book</h1>
  <%= form_for :book, url: books_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control textfield" %>
    </p>
   
    <p>
      <%= f.label :authors %><br>
      <%= f.text_field :authors, class: "form-control textfield" %>
    </p>

    <p>
      <%= f.label :year %><br>
      <%= f.text_field :year, class: "form-control textfield" %>
    </p>

    <p>
      <%= f.label :ISBN %><br>
      <%= f.text_field :ISBN, class: "form-control textfield" %>
    </p>

    <p>
      <%= f.label :genre %><br>
      <%= f.text_field :genre, class: "form-control textfield" %>
    </p>
   
    <p>
      <%= f.submit :'Add book', class: "btn flat_button" %>
    </p>
  <% end %>
</div>

