<% if @reader==current_reader %>
  <% provide(:title, 'Your recommendations') %>
<% else %>
  <% provide(:title, @reader.name+"'s recommendations") %>
<% end %>

<p id="notice"><%= notice %></p>
  <div class="main">
<h1> Recommendations </h1>
  <div class="row">
      <%= form_tag("/readers/#{@reader.id}/recom", :method => "get", id: "search-form") do %>
      <div class="col-md-8 inline">
      <%= text_field_tag :search, params[:search], placeholder: "What are you looking for?", class: 'form-control textfield' %>
    </div>
    <div class="col-md-4 inline">
      <%= submit_tag "Search", class: "btn flat_button" %>
          </div>
      <% end %>
  </div>
<% if !@found %>
  <div><p>There are no books containing the term(s) <%= params[:search] %>. Here is the list of all recommended books</p></div>
<% end %>
  <div class="table_headings">
    <div class="row">
      <div class="col-md-4 inline">Name</div>
      <div class="col-md-1 inline">Year</div>
      <div class="col-md-2 inline">ISBN</div>
      <div class="col-md-3 inline">Genre</div>
      <div class="col-md-2 inline">Rating</div>
    </div>
  </div>
  <div class="table_items">
    <% @books.each do |book| %>
      <div class="row">
        <div class="col-md-4 inline"><%= link_to book.name, book, class: "link" %></div>
        <div class="col-md-1 inline"><%= book.year %></div>
        <div class="col-md-2 inline"><%= book.ISBN %></div>
        <div class="col-md-3 inline"><%= book.genre %></div>
        <div class="col-md-2 inline"><%= book.rating_average.round(2) %></div>
      </div>
    <% end %>
  </div>
<br>
</div>