<% provide(:title, @book.name) %>
<div class="main">
  <h1><%= @book.name %>
  <% if logged_in? %>
    <% if current_reader.name=="admin" %>
      <div class="inline">
        <p>
          <%= link_to edit_book_path(@book) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </p>
      </div>
      <% end %>
     <% end %>
  </h1>
    <p>
      <strong>Authors:</strong>
      <% @authors.each do |author| %>
        <% if @book.author_books.find_by(author: author)%>
          <%= author.name %>
        <% end %>
      <% end %>
    </p>

    <p>
      <% unless @book.year == '' %>
        <strong>Year:</strong>
        <%= @book.year %>
      <% end %>
    </p>
      <p>
        <% unless @book.ISBN == '' %>
          <strong>ISBN:</strong>
          <%= @book.ISBN %>
        <% end %>
      </p>

  <p>
    <% unless @book.genre == '' %>
      <strong>Genre:</strong>
      <%= @book.genre %>
    <% end %>
  </p>

    <p>
    <% if @book.reader_books.find_by(reader: current_reader) %>
      <strong>Status:</strong>
      <%= @book.reader_books.find_by!(reader: current_reader).status %>
    <% else %>
      <strong>Status: none</strong>
    <% end %>
  </p>

  <% if logged_in? %>
    <% if @book.reader_books.find_by(reader: current_reader) %>
      <% if @book.reader_books.find_by!(reader: current_reader).rating==0 %>
        <%= form_for @book.reader_books.build do |f| %>     
        <%= f.hidden_field :book_id, value: @book.id %>
          <strong><p class="inline">Rate it:</p></strong>
          <% for i in 1..10 do %>
            <div class="rate inline">
              <%= button_tag(type: 'submit', name: "commit", value: i.to_s, class: "bttn") do %>☆
            </div>
          <% end %>
        <% end %>
        <% end %>
      <% else %>
        <p><strong>Your rate:</strong> <%= @book.reader_books.find_by!(reader: current_reader).rating %></p>
      <% end %>
    <% end %>
  <% end %>

  <% if logged_in? %>
      <%= form_for @book.reader_books.build do |f| %>
      <%= f.hidden_field :book_id, value: @book.id %>
        <div class="row">
          <% if @book.reader_books.exists?(reader: current_reader) == false %>
            <div class="col-md-4"> <%= f.submit :'Want to read', class: "btn flat_button" %> </div>
            <div class="col-md-4"> <%= f.submit :'Reading', class: "btn flat_button" %> </div>
            <div class="col-md-4"> <%= f.submit :'Read', class: "btn flat_button" %> </div> 
          <% else %>
            <% if @book.reader_books.find_by!(reader: current_reader).status == 'Want to read' %>
              <div class="col-md-4"> <%= f.submit :'Want to read', class: "btn flat_button disabled" %> </div>
              <div class="col-md-4"> <%= f.submit :'Reading', class: "btn flat_button" %> </div>
              <div class="col-md-4"> <%= f.submit :'Read', class: "btn flat_button" %> </div>
            <% elsif @book.reader_books.find_by!(reader: current_reader).status == 'Reading' %>
              <div class="col-md-4"> <%= f.submit :'Want to read', class: "btn flat_button disabled" %> </div>
              <div class="col-md-4"> <%= f.submit :'Reading', class: "btn flat_button disabled" %> </div>
              <div class="col-md-4"> <%= f.submit :'Read', class: "btn flat_button" %> </div>
            <% elsif @book.reader_books.find_by!(reader: current_reader).status == 'Read' %>
              <div class="col-md-12"><p><strong>Read it? Tell everyone about your experience. Leave a comment!</strong></p></div>
            <% end %>      
          <% end %>
        </div>
      <% end %>
  <% end %>

  <% if logged_in? %>
    <% unless @book.recommendations.find_by(reader: current_reader) %>
      <br><br>
      <div class="col-md-8 left"><p><i>Did you like it?</i> Recommend to your followers!</p></div>
      <%= form_for @book.recommendations.build do |f| %>
        <%= f.hidden_field :book_id, value: @book.id %>
        <div class="col-md-4"><i><%= f.submit :'Recommend', class: "btn flat_button recommend" %></i></div>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <h2 class="center comments"> Comments </h2>
  <div class="row">  
    <% @book.reviews.each do |review| %>
        <div class="col-md-3">
          <p><%= review.reader.name %></p>
        </div>
        <div class="col-md-9">
          <p><%= review.text %></p>
        </div>
        <p class="center comment_separator">__________________________________</p>
    <% end %>
  </div>

  <% if logged_in? %>
    <% unless @book.reviews.find_by(reader: current_reader) %>
      <%= form_for @book.reviews.build do |f| %>
        <%= f.text_area :text, :rows => 5, class: "form-control textfield"  %>
        <%= f.hidden_field :book_id, value: @book.id %>
        <%= f.submit :'Add comment', class: "btn flat_button" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>


