body {
	background-image: url(/public/assets/img/background.png), url(background.png);
	/*background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    /*background-color: lightblue;*/
}