@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff2') format('woff2'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
	font-family: 'PT Sans', serif;
	color: #332244;
}

body {
	background: url("images/background1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 100%;
	margin-bottom: 40px;
}

html {
	position: relative;
    min-height: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #565054;
	border-color: #565054;
}

.edit {
	max-width: 20px;
	max-height: 19px;
	padding: 0;
	margin: 0;
	border: none;
}

.footer_text {
	color: #e7dec5;
}

.header {
	background-color: #222021;
}

p {
	font-size: 18px;
}

.flat_button {
	background-color: #332244;
	color: #ccbb99;
}

.flat_button:hover {
	background-color: #664455;
	color: #ccbb99;
}

.flat_button.recommend {
	background-color: #592c4f;
}

.flat_button:focus, .flat_button:active, .flat_button:active:focus {
	outline: none !important;
}

.flat_button.disabled {
	opacity: 0.65;
	pointer-events: none;
}

.flat_button.books {
	background-color: #473856;
}

.flat_button.books:hover {
	background-color: #755666;
}

.link {
	color: #332244;
	text-decoration: underline;
}

.link:hover {
	color: #331122;	
	text-decoration: none;
}

.info_text {
	text-align: center;
	color: #331122;
}

div.inline {
	display: inline-block;
	color: #332244;
}

.inline {
	display: inline-block;
	color: #332244;
}

h1.info {
	text-align: left;
	color: #332244;
}

li.info {
	font-size: 18px;
	color: #332244;
}

.textfield {
	background-color: rgba(232, 232, 196, 0.8);
	border-radius: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border:none; box-shadow:none;
}

.textfield:focus {
	border:none; 
	box-shadow:none;
	outline: none !important;
    box-shadow: 0 0 10px #777755;
}

.textfield_large{
	height: 100px !important;
}

h1.profile_style {
	text-transform: uppercase;
	text-align: center;
	display: inline;
}

h2.profile_style {
	text-align: center;
	display: inline;
	font-size: 28px;
	color: #332244;
}

h3.info {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.table_headings {
	font-size: 24px;
	text-decoration: italic;
}

.table_items {
	font-size: 18px;
}

.md-offset-right-1 {
  margin-right: 8.33333333%;
}

/*navbar stuff*/

.navbar-default {
  background-color: #565054;
  border-color: #565054;
}
.navbar-default .navbar-brand {
  color: #e7dec5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e7dec5;
}
.navbar-default .navbar-text {
  color: #e7dec5;
}
.navbar-default .navbar-nav > li > a {
  color: #e7dec5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #666165;
  color: #e7dec5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7dec5;
  background-color: #666165;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e7dec5;
  background-color: #666165;
}
.navbar-default .navbar-toggle {
  border-color: #565054;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #666165;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #666165;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7dec5;
}
.navbar-default .navbar-link {
  color: #e7dec5;
}
.navbar-default .navbar-link:hover {
  color: #e7dec5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e7dec5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7dec5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7dec5;
    background-color: #666165;
  }
}

h2.comments {
	font-size: 28px;
	color: #332244;
}

p.comment_separator {
	font-size: 10px;
	color: #332244;
}

h2.ratings {
	text-align: center;
	font-size: 42px;
	color: #332244;
	margin: 0;
	padding: 0;
	display: inline;
}

h3.ratings {
	text-align: center;
	font-size: 24px;
	color: #332244;
	margin: 0;
	padding: 0;
	display: inline;
}

div.ratings {
	position: relative;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: flex-end; /* Safari 7.0+ */
    display: block;
	align-items: flex-end;
}

div.ratings.small {
	font-size: 18px;
}

.rate {
  unicode-bidi: bidi-override;
  display: inline-block;
  direction: rtl;
  border: none;
  padding: 0;
  margin: 0;
}
.rate > button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  font-size: 24px;
}
.rate > button:hover:before,
.rate > button:hover ~ button:before {
   content: "\2605";
   position: absolute;
}

.bttn {
    background: none;
    border: none;
    padding: 0;
  	margin: 0;
}

.right { 
	float: right; 
}

p.bio {
	text-align: justify;
	font-size: 18px;
}

div.main {
	background-color:  rgba(231, 222, 197, 0.6);
	margin: 0px;
	padding: 25px;
}




























