<li id="review-<%= review.id %>">
  <%= link_to review.reader %>
  <span class="reader"><%= link_to review.reader.name, review.reader %></span>
  <span class="text"><%= review.text %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>
