<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Manage books | Book App</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="#"><img src="#"></a>
				<div class="menu-text">
					<a href="">Книги</a>
				</div>
			</li>
			<li>
				<a href="#"><img src="#"></a>
				<div class="menu-text">
					<a href="">Автори</a>
				</div>
			</li>
			<li>
				<a href="#"><img src="#"></a>
				<div class="menu-text">
					<a href="">Читачі</a>
				</div>
			</li>
		</ul>
	</nav>

	<div class="content">
		<% @books.each do |book| %>
			<div class="book-cover-container">
				<div class="book-cover-image">
					<%= image_tag url_for(:controller => "books_controller", :action => "show_image", :id => book.id) %>
				</div>
			</div>

			<div class="book-cover-onhover">
				<div class="upper-part">
					<div class="book-title"><%= book.name %></div>
					<div class="book-author"><%= book.author %></div>
				</div>
				<div class="bottom-part">
					<button class="edit-button" href="#"><img src="#"></button>
					<a class="delete-button" href="#"><img src="#"></a>
				</div>
			</div>

			<div class="edit-form">
				<form>
					<div class="input-fields">
						<p>
							<label>Назва</label>
							<input type="text">
						</p>
						<p>
							<label>Автор</label>
							<input type="text">
						</p>
						<p>
							<label>ISBN</label>
							<input type="text">
						</p>
					</div>
					<div class="form-buttons">
						<button>Додати фото</button>
						<button>Зберегти</button>
					</div>
				</form>
			</div>
		<% end %>
	</div>

	<aside>
		<div class="new-and-search">
				<a class="new" href="#"><img src="#"></a>
				<a class="search" href="#"><img src="#"></a>
		</div>
		<div class="rules">
			<div class="rules-title"></div>
			<ol>
				<li>Перш ніж додавати нову книгу перевірте, щоб її вже не було у базі.</li>
				<li>Вказуйте авторів у тому порядку, в якому вони зазначені на обкладинці.</li>
				<li>Поля "Назва" та "Автор" мають обмеження по 256 символів кожне.</li>
				<li>Вводьте номер у поле ISBN без пробілів та тире.</li>
				<li>Зображення має показувати обкладинку книги і не перевищувати 500 Кб.</li>
			</ol>
		</div>
	</aside>
</body>
</html>