* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    display: flex;
    /*font-family: Tahoma, sans-serif;*/
    height: 50px;
    background-color: #1c2d3d;
    font-size: 16px;
}

ul {
    display:flex;
    list-style-type: none;    
}

a {
    text-decoration: none;
}

nav a {
    color: #46879f;
}

#header_profile a {
     color: #a4d8ec;
}

#header_profile {
    margin-right: 10px;
}

nav a:hover {
    color: #a4d8ec;
}

.navbar-item {
    display: inline;

    padding-top: 15px;
    padding-bottom: 15px;
    
    padding-right: 40px;
    padding-left: 40px;
}

nav {
    margin-left: 20px;
    display: inline-flex;
}
.wrap {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    display: block;
    margin: 0 10%;
    width: 80%;
    float: left;
    background-color: #f9f7f6;
}

.navbar {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.navbar-item {
    display: inline-block;
    
}

.search-form {
    width: 96%;
    margin: 0 2%;
}

.search-bar {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-width: 2px;
    border-color: #014656;
    padding-left: 8px;
    padding-right: 8px;
    height: 30px;
    width: 100%;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: gainsboro;
    font-style: italic;
}

.search-details {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0 10px 10px 10px;
    border-color: #014656;
    background-color: #e1e2e3;
}

.search-caption {
    font-size: 18px;
    font-style: italic;
    color: #014656;
    padding-bottom: 8px;
}

.search-details a {
    display: inline-block;
    font-size: 14px;
    color: #014656;
    padding: 4px 8px;
    text-decoration: none;
    background-color: #e6d4ab;
    margin-right: 8px;
    margin-bottom: 5px;
}

.search-details a:hover {
    background-color: #d9754e;
}

.search-details .detail {
    padding-top: 8px;
}

.category {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 96%;
    margin: 10px 2%;
    padding: 0 10px 10px 10px;
    border-color: #014656;
    background-color: #e1e2e3;
}

.category .category-title {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 800;
    color: #d5470f;
    text-transform: uppercase;
}

.category a {
    font-style: italic;
    text-decoration: none;
    color: #d5470f;
    padding-top: 5px;
}

.book {
    padding: 10px 0;
    display: inline-block;
}

.book-cover .img {
    
}