<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Books | Books App</title>
</head>
<body>
	<div class=“wrap”>
		<header>
			<nav>
				<ul>
					<li class="navbar-item">Books</li>
					<li class="navbar-item">Authors</li>
					<li class="navbar-item">Readers</li>
					<li>
						<div class="navbar-profile">
							<a href="#">
								<img class="avatar" src="avatar.jpg" alt="name account">
								current_reader.name
							</a>
						</div>
					</li>
				</ul>
			</nav>
		</header>
		
		<div class = “content_wrap”> 
			<div class = "topinfo">
				<div class = "profileinfo">
					<div class="avatar">
						<img src = "#" alt = "Jeremy">
					</div>
					<div class = "favourites">
						<p>fav genre</p>
						<h3><%= @reader.fav_genre%></h3>
					</div>
					<div class = "favourites">
						<p>fav author</p>
						<h3><%= @reader.fav_author%></h3>
					</div>
					<div class = "reader_name">
						<h3><%= @reader.name%></h3>
						<p><%= @reader.moto%></p>
						<% if @reader!= current_reader%>
							<img src = "#" alt = "follow">
						<% end %>
					</div>
				</div>
				<div class = "slider">
					<img src = "#">
					<p>Now reading</p>
					<h2><%= @books.findby(reader: @reader, status: "Reading") %></h2>
					<h3><%= @books.findby(reader: @reader, status: "Reading").author %></h3>
					<p><%= @books.findby(reader: @reader, status: "Reading").annotation %></p>
					<% if @reader == current_reader %>
						<a href = "#" type = "button">Finish and rate</a>
					<% end %>
				</div>
			</div>
			<div class = "sidebar">
				<div class = "folls">
					<div class = "folls_top">
						<h3>Followers <% @reader.followers_count %> </h3>
					</div>
					<% @reader.findby(followers).each do |follower| %>
						<div class = "follower">
							<h3> follower.name </h3>
							<p> follower.books_count </p>
							<p> books </p>
						</div>
					<% end %>
				</div>
				<div class = "folls">
					<div class = "folls_top">
						<h3>Following <% @reader.following_count %> </h3>
					</div>
					<% @reader.findby(folowongs).each do |following| %>
						<div class = "follower">
							<h3> following.name </h3>
							<p> following.books_count </p>
							<p> books </p>
						</div>
					<% end %>
				</div>
			</div>
			<div class = "content">
				<div class = "section_options">
					<a href = "#"> Read <%= @reader.books_count %> </a>
					<a href = "#"> Want to <%= @reader.wantto_count %> </a>
					<a href = "#"> Recommends <%= @reader.recommends_count %> </a>
				</div>
				<% @books.findby(reader: @reader, status: @status).each do |book| %>
					<div class = "section">
						<div class = "section_top">
							<%= image_tag url_for(:controller => "author_controller", :action => "show_image", :id => author.findby(book: book).id) %>
							<%= author.findby(book: book).name %>
							<p> <%= system.time - reader_book.findby(reader: @reader, book: book).time%> ago</p>
						</div>
						<div class = "section_content">
							<%= image_tag url_for(:controller => "book_controller", :action => "show_image", :id => book.id %>
							<h2> <%= book.name %> </h2>
							<h3> <%= author.findby(book: book).name %> </h3>
							<h3> <%= book.annotation %> </h3>
							<% if reader_book.findby(reader: @reader, book: book).rate %>
								<p> My rate : <%= reader_book.findby(reader: @reader, book: book).rate %> </p>
							<% end %>
						</div>
						<div class = "section_comments">
							<input type="text" name="comment" placeholder="Type comment here">
							<a href = "#" type = "button"> Comment </a>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>


