<header class="navbar navbar-fixed-top navbar-default header">
  <div class="container">
    <div class="col-md-offset-1">
    <%= link_to "book app", root_path, id: "logo", class: "hvr-sweep-to-right" %>
    <nav>
      <ul class="nav navbar-nav navbar-right md-offset-right-1">
        <li><%= link_to "Books", books_path %></li>
        <li><%= link_to "Authors", authors_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Readers", readers_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_reader.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_reader %></li><!-- current_user-->
              <li><%= link_to "Recommendations", "/readers/#{current_reader.id}/recom" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li><!-- login_path-->
        <% end %>
      </ul>
    </nav>
  </div>
</div>
</header>
