<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <link rel="stylesheet" src="/assets/bootstrap.css">
    <link rel="stylesheet" src="/assets/main.css">
    <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/application.css">

  </head>
  <body>

    <%= render 'layouts/header' %>
      <div class="container">
        <div class="col-md-10 col-md-offset-1 length">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <%= yield %>
        <%= render 'layouts/footer' %>
        <!--<%= debug(params) if Rails.env.development? %>-->
        </div>
      </div>
  <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
  </script>
  </body>
</html>
